/*!
Theme Name: ANKE DEGENHARD Viewing Room
Theme URI: http://themevanilla.com/
Author: Shuvo
Author URI: http://themevanilla.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: anke-degenhard-viewing-room
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html,
body {
    margin: 0;
    height: 100%;
}

h1 {
    
}


img {
max-width: 100%;
    height: auto;
}



h1,h2,h3,h4,h5,h6 {
    clear: both
}

p {
    margin-bottom: 12px;
}


body {
    font-family: 'Grotesk';
    font-weight: 600;
}

button,input[type=button],input[type=reset],input[type=submit] {
    
}

button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover {
   
}

button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus {
   
}

input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea {
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
   padding: 6px 10px;
   display: block;
}

input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus {
   
}

a{
	color: #333;
}
a:active,a:focus,a:hover {
    color: #333;
}

a:focus {
    outline: 0;
}

a:active,a:hover {
    outline: 0
}
.tosnotice a{
	text-decoration: underline;
}
.container-big{
	width: 100%;
	max-width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Header*/


header#masthead {
    padding: 20px 0;
    position: relative;
}

header#masthead:after {content: "";border-bottom: 1px solid  #000;position: absolute;left: 0;right: 0;bottom: 0;max-width: 78%;margin: 0 auto;max-width: calc( 80% - 30px );}

.site-content {
    padding: 40px 0;
}
.btn {
    border-radius: 0;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.current-view,.past-view,.subscribe-link {
    margin-bottom: 12px;
}
.short-content {
    margin-top: 24px;
    margin-bottom: 30px;
}
.thumb-wrap {
    margin-bottom: 20px;
}
.subscribe-page-wrap {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 12vh;
}

.tosnotice {
    position: fixed;
    bottom: 20px;
}

.subscribe-page-wrap input[type=submit] {
    margin: 0 10px;
    text-transform: uppercase;
}